<div class="container">
<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <span class="title">
      <li>
        <span class="glyphicon <%= task.completed ? "glyphicon-check" : "glyphicon-unchecked"%>" aria-hidden="true"></span>
        <%= link_to task.title, task_path(task) %>
        <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
           <i class="fas fa-trash-alt"></i>
        <% end %>
      </li>
    </span>
  <% end %>
</ul>

<%= link_to "new task", tasks_new_path, class: 'btn btn-primary btn-lg' %>
</div>
