li {
  margin: 10px;
}

li input {
  display: inline-block;
}

li p {
  display: inline-block;
}

h1 {
  color: orange;
}

body {
  text-color: #53443F;
}

.form-group {
  margin: 0 30px;
  padding: 0 20px;
}

.create {
  margin: 30px;
}

.box {
  margin: 30px;
  background-color: #FFFDE1;
  padding: 20px;
}

.edit {
  text-align: left;
}
