// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul {
  list-style: none;
  padding: 20px;
  margin: 10px;
}

.title {
  font-size: 25px;
}

li {
  list-style: none;
}
